<!--
L'interpolation est une méthode pour lier de la class vers le template 
Il existe d'autres méthodes pour pousser les valeurs de la class du composant
au template
    - propriete d'element
    - propriete d'attribut
    -class css
    - proprieté css

    Au lieu de capter les évenements angular fournit une annotation pour simplifier

-->
 
<nav>
<div class="nav-wraper teal" > 
    <a href="#" class="brand-logo center">
        Pokédex
    </a>
</div>

</nav>


<!-- router-outler -->
<router-outlet></router-outlet>
<!--<input type="number" (click)="selectPokemon($event)">  
 Au lieu de capter les évenements angular fournit une annotation pour simplifier
 les chose comme suit 
 le # permet d'utiliser une variable dans le DOM 
 l'opérateur ? permet de dire si l'objet est null au lieu d'afficher une erreur
 n'affiche rien
 pseudo evenment angular ( à voir) a 2:088:35

 -->

<!--
 <input #input
 (keyup)="selectPokemon(input.value)" 
 type="text"  >

-->
 

<!--<p (click)="selectPokemon(pokemoneList[0])"> {{pokemoneList[0]}}.name</p> -->
<!-- on peut afficher la valeur saisie ici <P > {{input.value}}</P> -->
<!-- 
<input #input (keyup.enter)="selectPokemon(input.value)" type="text">
<P *ngIf="pokemoneSelected"> Vous avez selectionnné le pokemone : {{pokemoneSelected?.name}}</P>
<P *ngIf="!pokemoneSelected"> Aucun pokemone n'a été trouvé</P> -->
<!--  
<p> {{pokemoneList[0].name}}</p>
<p> {{pokemoneList[1].name}}</p>
<p> {{pokemoneList[2].name}}</p>
<p> {{pokemoneList[3].name}}</p>
<p> {{pokemoneList[4].name}}</p>
<p> {{pokemoneList[5].name}}</p>
<p> {{pokemoneList[6].name}}</p>
<p> {{pokemoneList[7].name}}</p>
<p> {{pokemoneList[8].name}}</p>
<p> {{pokemoneList[9].name}}</p>
<p> {{pokemoneList[10].name}}</p>-->

<!-- ngif et ngfor sont ajouté par le module browser dans la racine
common module

-->
<!--

 
<div class="row">

    <div class="col s4" *ngFor="let pokemon of pokemoneList ">

        <div class="row">
            <div class="col s6"> <img src="{{pokemon.picture}}">
            </div>
            <div class="col s6">
                <div *ngFor="let item of pokemon | keyvalue">
                    <p *ngIf="item.key!='picture' ">

                        {{item.key}}:{{item.value}}
                    </p>
                </div>
            </div>
        </div>
    </div>
 
    
-->

<!-- Correction   -->
<!--  

<div class="container">
    <div class="row"> -->
        <!--*  sur l'ecran moyen 4 si c small c 2-->
        <!-- <div *ngFor="let pokemon of pokemoneList" class="col m4 s6">
            <div class="card horizontal" pkmnBorderCard="red">
                <div class="card-image">

                    <img src={{pathImg}}{{pokemon.name}}.png />
                </div> -->

                <!-- Opérateur pipe pour modifier la structure d'affichage (pipe comme celui du shell ) 
Il y a d'autres pipes qui sont disponibles dans les projets
upercasepipe lowercasepipe currency pipe percentPipe
documentation https://angular.io/guide/pipes
On peut créer des pipes personalisées
-   utiliser la commande suivante ng generate pipe pokemon-type-color
-  Un fichier pokemon-type-color.ts a été crée.
 pipe est utilisé à l'intérieur des crochets
 plutot que de definir  plusieurs transformation a des composants  il faut centraliser dans les pipes

-->
         <!--       <div class="card-stacked">
                    <div class="card-content">
                        <p> {{ pokemon.name}} </p>
                        <p> <small> {{ pokemon.created | date:"dd/MM/yyyy"| uppercase}}</small></p>
                        <span *ngFor="let type of pokemon.types" class="${{type | pokemonTypeColor}}">
                            {{type}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>-->  